<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="screen-orientation" content="portrait">
		<meta name="x5-orientation" content="portrait">
		<meta name="renderer" content="webkit|ie-comp">
		<meta name="msapplication-tap-highlight" content="no">
		<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
		<meta name="format-detection" ,="" content="telephone=no">
		<meta name="format-detection" ,="" content="email=no">
		<meta http-equiv="Expires" content="0">
		<meta http-equiv="Pragma" content="no-cache">
		<meta http-equiv="Cache-Control" content="no-cache">
		<meta http-equiv="Cache" content="no-cache">
		<link rel="icon" href="/favicon.ico">
		<link rel="stylesheet" href="assets/layui/css/layui.css" type="text/css" media="all">
		<title>赛盾VPN-下载</title>
		<style>
			@media(max-width:1023px) {
				.pc {
					display: none;
				}
				
			}
			@media(min-width:1024px) {
				.app {
					display: none;
				}
			}
			.mbc1 {
				background-color: #D2E7FB;
			}
			.mbc0 {
				background-color: #ECF6FF;
			}
		</style>
	</head>
	<body style="margin: 0;background-color: #ECF3F8;">
		<div id = "app">
			<div style="height: 80px;background-color: #337FF2;width: 100%;position: fixed;left: 0;
			top: 0;display: flex;align-items: center;">
				<div style="display: flex;justify-content: left;align-items: center;flex: 1;margin-left: 20px;" @click="gotoIndex()">
					<div><img src="assets/img/logo.png" style="height: 40px;width: 40px;"/></div>
					<div style="color: white;font-weight: bold;margin-left: 5px;font-size: 24px;">赛盾VPN</div>
				</div>
				
				<div style="flex: 1;display: flex;align-items: center;justify-content: right;">
					<div style="color: white;font-size: 18px;margin-right: 10px;" @click="gotoIndex()">主页</div>
					<div style="display: flex;align-items: center;border: 1px solid white;border-radius: 13px;
					justify-content: center;height: 26px;margin-right: 10px;width: 100px;" @click="gotoLoginPage()" v-if="!isLogin">
						<img src="assets/img/icon1.png" style="height: 12px;width: 12px;"/>
						<div style="font-size: 12px;color: white;margin-left: 3px;">用户登录</div>
					</div>
					<div style="display: flex;align-items: center;border: 1px solid white;border-radius: 13px;
					justify-content: center;height: 26px;margin-right: 10px;width: 100px;" @click="logout()" v-else>
						<div style="font-size: 16px;color: white;margin-left: 3px;">退出登录</div>
					</div>
					<div @click="showMenu()" style="margin-right: 20px;" v-if="selMenu=='sandian'"><img  src="assets/img/sandian-1.png" style="width: 26px;height: 8px;"/></div>
					<div @click="showMenu()" style="margin-right: 20px;" v-else>
						<img  src="assets/img/sandian.png" style="width: 26px;height: 8px;"/>
					</div>
				</div>
			</div>
			<div v-show="isShowMenu" id="menu0" style="position: fixed;background-color: white;width: 130px;height: 180px;right: 3px;top: 83px;display: none;">
				<div @click="gotoPayPage()" style="font-size: 18px;margin-left: 10px;height: 40px;display: flex;align-items: center;color: #337FF2;margin-top: 10px;">会员购买</div>
				<div style="font-size: 18px;margin-left: 10px;height: 40px;display: flex;align-items: center;color: #505050;" @click="gotoHelpPage()">常见问题</div>
				<div style="font-size: 18px;margin-left: 10px;height: 40px;display: flex;align-items: center;color: #505050;" @click="gotoLoginPage()">账号登录</div>
				<div @click="showLanguage" style="font-size: 18px;margin-left: 10px;height: 40px;display: flex;align-items: center;color: #505050;margin-bottom: 10px;">
					<div>简体中文</div>
					<div style="margin-left: 20px;"><img src="assets/img/xiangyou.png" style="width: 10px;height: 10px;"/></div>
				</div>
			</div>
			<div  v-show="isShowLanguage" id="language" style="position: fixed;background-color: white;width: 130px;height: 90px;right: 136px;top: 213px;display: none;">
				<div style="font-size: 18px;margin-left: 10px;height: 40px;display: flex;align-items: center;color: #505050;margin-top: 5px;" @click="switchLanguage('en')">English</div>
				<div style="font-size: 18px;margin-left: 10px;height: 40px;display: flex;align-items: center;color: #505050;" @click="switchLanguage('cn')">简体中文</div>
			</div>

			<div class="pc" style="margin-top: 80px;">
				<div style="display: flex;padding-top: 30px;">
					<div style="flex: 3;display: flex;justify-content: right;">
						<!-- 菜单 -->
						<div style="width: 260px;margin-right: 20px;">
							<div style="height: 36px;background-color: #49A0F5;
							color: white;font-size: 20px;display: flex;align-items: center;" >
								<div style="padding-left:30px">问题分类</div>
							</div>
							<div style="height: 36px;
							color: #3D3D3D;font-size: 18px;display: flex;align-items: center;" :class="mt==1?'mbc1':'mbc0'" @click="changeMt(1)">
								<div style="padding-left:30px">赛盾VPN使用教程</div>
							</div>
							<div style="height: 36px;
							color: #3D3D3D;font-size: 18px;display: flex;align-items: center;" :class="mt==2?'mbc1':'mbc0'" @click="changeMt(2)">
								<div style="padding-left:30px">苹果安装常见问题</div>
							</div>
							<div style="height: 36px;
							color: #3D3D3D;font-size: 18px;display: flex;align-items: center;" :class="mt==3?'mbc1':'mbc0'" @click="changeMt(3)">
								<div style="padding-left:30px">会员购买问题</div>
							</div>
							<div style="height: 36px;
							color: #3D3D3D;font-size: 18px;display: flex;align-items: center;" :class="mt==4?'mbc1':'mbc0'" @click="changeMt(4)">
								<div style="padding-left:30px">热门应用教程</div>
							</div>
						</div>
					</div>
					<div style="flex: 7;">
						<div style="width: 60%;">
							<!-- 客服 -->
							<div style="height: 180px;background-color: #D2E7FB;display: flex;">
								<div style="flex: 2;display: flex;align-items: center;">
									<div style="margin-left: 20%;">
										<div style="font-size: 24px;color: #5FAFFD;font-weight: bold;">赛盾，让服务更有温度</div>
										<div style="height: 28px;background-color: #49A0F5;color: white;font-size: 18px;
										width: 128px;display: flex;justify-content: center;
										align-items: center;margin-top: 15px;" onclick="kflink()">联系在线客服</div>
									</div>
								</div>
								<div style="flex: 1;display: flex;justify-content: left;">
									<div><img src="assets/img/jc1.png" style="width: 170px;height: 170px;"/></div>
								</div>
							</div>
							<!-- 内容 -->
							<div style="margin-top: 20px;height: auto;border: 1px solid #C8C8C8;border-radius: 5px;" v-show="mt==1">
								<!-- 标题 -->
								<div style="display: flex;padding-top: 20px;padding-bottom: 20px;align-items: center;" @click="changeCt(1)">
									<div style="flex: 1;">
										<div style="margin-left: 30px;"><img src="assets/img/jc2.png" style="width:20px;"/></div>
									</div>
									<div style="flex: 9;color: #343434;font-size: 20px;font-weight: bold;">如何下载赛盾VPN</div>
									<div style="flex: 1;">
										<div>
											<img :src="(mt==1 && ct==1)?'assets/img/jc4.png':'assets/img/jc3.png'" style="width: 10px;height: 10px;"/>
										</div>
									</div>
								</div>
								<!-- 描述 -->
								<div v-show="mt==1 && ct==1" style="color: #3f3f3f;margin-left: 25px;font-size: 17px;padding-bottom: 20px;padding-right: 30px;">
									<div style="margin-top: 10px;">这里说明在iOS、Android、Windows系统中如何获取到最新版本的赛盾VPN</div>
									<div style="margin-top: 10px;">赛盾VPN目前提供 iOS（iPhone/iPad/MAC）、Android（安卓手机）、Windows（PC、Surface）、这几种平台的 VPN 软件。</div>
									<div style="margin-top: 10px;">您可以在要使用赛盾VPN的设备中打开我们的官方网站直接下载。官网内滑到最下面有您需要的下载方式。</div>
									<div style="margin-top: 10px;">赛盾VPN 官网链接：<a href="http://www.tsselee.com">http://www.tsselee.com</a> 官网直达入口</div>
									<div style="margin-top: 10px;">注：Android 和 PC 强烈推荐使用 Chrome 浏览器进行安装使用，避免因浏览器原因造成无法安装使用现象的发生。</div>
									<div style="margin-top: 10px;">VPN 软件非常强调安全性和抗干扰，我们大概 1 - 2 周会更新版本，非常建议您始终保持使用最新版本的 赛盾VPN。</div>
									<div style="margin-top: 10px;">您也可以发送邮件给 <span style="color:blue">saidunyouxiang@gmail.com</span>  索要最新版本，客户服务人员会给您一个直接的下载位置。</div>
									<div style="margin-top: 10px;">注：若您在下载和使用过程中有任何问题，您随时可以发送邮件给<span style="color:blue">saidunyouxiang@gmail.com</span>，将由专业的客户服务人员帮助您获取到最新版本的软件。</div>
								</div>
								
							</div>
							<div style="margin-top: 20px;height: auto;border: 1px solid #C8C8C8;border-radius: 5px;" v-show="mt==2">
								<!-- 标题 -->
								<div style="display: flex;padding-top: 20px;padding-bottom: 20px;align-items: center;" @click="changeCt(1)">
									<div style="flex: 1;">
										<div style="margin-left: 30px;"><img src="assets/img/jc2.png" style="width:20px;"/></div>
									</div>
									<div style="flex: 9;color: #343434;font-size: 20px;font-weight: bold;">苹果版本赛盾 VPN 更新遇到问题怎么办？</div>
									<div style="flex: 1;">
										<div>
											<img :src="(mt==2 && ct==1)?'assets/img/jc4.png':'assets/img/jc3.png'" style="width: 10px;height: 10px;"/>
										</div>
									</div>
								</div>
								<!-- 描述 -->
								<div v-show="mt==2 && ct==1" style="color: #3f3f3f;margin-left: 25px;font-size: 17px;padding-bottom: 20px;padding-right: 30px;">
									<div style="margin-top: 10px;">如果您在更新赛盾VPN 版本的时候遇到问题，请查看下方解决方案：</div>
									<div style="margin-top: 10px;">VPN 会经常被 GFW 封锁导致出现无法使用的情况，为保证咱们能时时连接，我们会定期在软件内加入新的防封杀技术，强烈建议您使用赛盾VPN最新版本；</div>
									<div style="margin-top: 10px;">苹果商店软件更新操作只能是同一Apple ID 下载的软件，如果不是就会出现各种各样的错误（更新只要出现问题，请按照下面方式解决即可）</div>
									<div style="margin-top: 10px;">解决办法：</div>
									<div style="margin-top: 10px;">卸载旧版本赛盾VPN 软件（不必担心，时长会保留到最新下载软件中）；</div>
									<div style="margin-top: 10px;">Appstore 登陆非中国大陆 Apple ID </div>
									<div style="margin-top: 10px;">需要注意：</div>
									<div style="margin-top: 10px;">一定要卸载旧版本后点击下载才可以哦！</div>
								</div>
								
								<!-- 标题 -->
								<div style="display: flex;padding-top: 20px;padding-bottom: 20px;align-items: center;" @click="changeCt(2)">
									<div style="flex: 1;">
										<div style="margin-left: 30px;"><img src="assets/img/jc2.png" style="width:20px;"/></div>
									</div>
									<div style="flex: 9;color: #343434;font-size: 20px;font-weight: bold;">苹果版本赛盾VPN 不好用怎么办？</div>
									<div style="flex: 1;">
										<div>
											<img :src="(mt==2 && ct==2)?'assets/img/jc4.png':'assets/img/jc3.png'" style="width: 10px;height: 10px;"/>
										</div>
									</div>
								</div>
								<!-- 描述 -->
								<div v-show="mt==2 && ct==2" style="color: #3f3f3f;margin-left: 25px;font-size: 17px;padding-bottom: 20px;padding-right: 30px;">
									<div style="margin-top: 10px;">通过一些简单设置来提升赛盾 VPN 的使用体验，具体如下：</div>
									<div style="margin-top: 10px;">一. iOS 连接经常断开问题</div>
									<div style="margin-top: 10px;">缘由：iOS 设备本身会存在 15M NE内存限制，连接 VPN 使用时，当上限超过 15M 后就会出现 VPN 断开连接情况。</div>
									<div style="margin-top: 10px;">解决办法：</div>
									<div style="margin-top: 10px;">（1） 建议升级 iOS 系统 到 iOS 15，这样内存限制会由 15M → 50M</div>
									<div style="margin-top: 10px;">（2）清理后台不使用的程序，若手机中有照片自动同步 or 软件商店的自动更新这些设置也关闭一下</div>
									<div style="margin-top: 10px;"> PS：iOS 15M NE内存问题是 Apple 自身限制，可以在谷歌浏览器搜索 iOS 15M NE内存限制了解更多。</div>
									<div style="margin-top: 10px;">二. 效果不好/图片刷不出来/消息无法显示</div>
									<div style="margin-top: 10px;">缘由：当前世界各地的 5G 网络/信号都会存在不稳定的情况，这种情况直接导致设备在短时间内多次切换网络，从而出现无法加载所需观看内容的情况，使用感极差。</div>
									<div style="margin-top: 10px;">解决办法：</div>
									<div style="margin-top: 10px;">1. 关闭 Iphone or Ipad 的 5G 功能（使用 Wi-Fi 时无需此项设置）</div>
									<div style="margin-top: 10px;">2.操作步骤：系统设置→蜂窝网络→蜂窝数据选项→语音与数据→4G</div>
									<div style="margin-top: 10px;">三. iOS 连接时界面卡住</div>
									<div style="margin-top: 10px;">解决办法：</div>
									<div style="margin-top: 10px;">系统设置 → VPN 将后面的按钮关闭 or 重新打开即可</div>
								</div>
							</div>
							<div style="margin-top: 20px;height: auto;border: 1px solid #C8C8C8;border-radius: 5px;" v-show="mt==3">
								<!-- 标题 -->
								<div style="display: flex;padding-top: 20px;padding-bottom: 20px;align-items: center;" @click="changeCt(1)">
									<div style="flex: 1;">
										<div style="margin-left: 30px;"><img src="assets/img/jc2.png" style="width:20px;"/></div>
									</div>
									<div style="flex: 9;color: #343434;font-size: 20px;font-weight: bold;">如何恢复 赛盾ID 变化导致丢失的购买时间</div>
									<div style="flex: 1;">
										<div>
											<img :src="(mt==3 && ct==1)?'assets/img/jc4.png':'assets/img/jc3.png'" style="width: 10px;height: 10px;"/>
										</div>
									</div>
								</div>
								<!-- 描述 -->
								<div v-show="mt==3 && ct==1" style="color: #3f3f3f;margin-left: 25px;font-size: 17px;padding-bottom: 20px;padding-right: 30px;">
									<div style="margin-top: 10px;">您在电脑或者手机中卸载重装赛盾VPN并不会引起设备 ID 的变化，但是若您刷机或者重做操作系统，那么设备 ID 会发生改变。若您之前未注册账户，那么您以前购买的时间可能会消失。</div>
									<div style="margin-top: 10px;">请您放心，通过这个操作说明的流程，我们将为您快速的找回来</div>
									<div style="margin-top: 10px;">找回账户我们需要如下的信息：</div>
									<div style="margin-top: 10px;">您当前的新设备 ID</div>
									<div style="margin-top: 10px;">过去您的充值记录详情截图</div>
									<div style="margin-top: 10px;">若您能够提供原设备 ID 会加快我们处理的过程</div>
									<div style="margin-top: 10px;">若您无法提供这个充值记录详情截图，我们将无法受理您的要求，因为我们无法在海量的赛盾VPN 支付记录中找到您指定金额的记录</div>
									<div style="margin-top: 10px;">即使能够找到也无法证明这笔支付是您产生的。若我们没有证据而冒然处理，这将会有严重的安全和法律风险。</div>
								</div>
							</div>
							<div style="margin-top: 20px;height: auto;border: 1px solid #C8C8C8;border-radius: 5px;" v-show="mt==4">
								<!-- 标题 -->
								<div style="display: flex;padding-top: 20px;padding-bottom: 20px;align-items: center;" @click="changeCt(1)">
									<div style="flex: 1;">
										<div style="margin-left: 30px;"><img src="assets/img/jc2.png" style="width:20px;"/></div>
									</div>
									<div style="flex: 9;color: #343434;font-size: 20px;font-weight: bold;">ChatGPT-保姆级注册教程</div>
									<div style="flex: 1;">
										<div>
											<img :src="(mt==4 && ct==1)?'assets/img/jc4.png':'assets/img/jc3.png'" style="width: 10px;height: 10px;"/>
										</div>
									</div>
								</div>
								<!-- 描述 -->
								<div v-show="mt==4 && ct==1" style="color: #3f3f3f;margin-left: 25px;font-size: 17px;padding-bottom: 20px;padding-right: 30px;">
									<div style="margin-top: 10px;">ChatGPT 在世界掀起一阵 AI 热潮，快连编编将为小夥伴们带来一系列的使用攻略，</div>
									<div style="margin-top: 10px;">请务必下载赛盾 VPN ，才能使用或注册 ChatGPT 喔，让我们出发探索 AI 世界吧！</div>
									<div style="margin-top: 10px;">下载地址 ：http://www.aentos.com</div>
									<div style="margin-top: 10px;">简介：</div>
									<div style="margin-top: 10px;">ChatGPT 是 OpenAI 公司开发的一种大型语言模型，可用于问答、对话生成、文本生成等多种任务。是全球最炙手可热的 AI 工具之一。目前有 GPT-3.5 和 GPT-4 两个版本。</div>
									<div style="margin-top: 10px;">GPT-3.5：无需注册，访问 ChatGPT 官网（ https://chat.openai.com/ ），即可立即体验</div>
									<div style="margin-top: 10px;">GPT-4 ：需注册账户后付费使用</div>
									<div style="margin-top: 10px;">PS：若有 GPT-4 的使用需求，大家可以查看后面的内容进行注册</div>
									<div style="margin-top: 10px;">目录</div>
									<div style="margin-top: 10px;">-------------</div>
									<div style="margin-top: 10px;">1.注册 OpenAI 流程</div>
									<div style="margin-top: 10px;">使用极速模式 + 香港 / 新加坡 </div>
									<div style="margin-top: 10px;">使用 Chrome / Edge 浏览器无痕模式访问 ChatGPT 官网 https://chat.openai.com/</div>
									<div style="margin-top: 10px;">使用接码平台接收手机验证码</div>
									<div style="margin-top: 10px;">2.详细图文步骤</div>
									<div style="margin-top: 10px;">浏览器搜索 ChatGPT ，点击进入官网</div>
									<div style="margin-top: 10px;"><img src="assets/img/jci1.png" width="100%"/></div>
									<div style="margin-top: 10px;">进入 OpenAI 官网后，可以直接使用 GPT-3.5版本，点击 Sign up 即可进入注册页面：</div>
									<div style="margin-top: 10px;"><img src="assets/img/jci2.png" width="100%"/></div>
									<div style="margin-top: 10px;">输入您的邮箱地址，点击 Continue ，然后设置密码，再设置用户名，之后会进入到手机号验证的界面</div>
									<div style="margin-top: 10px;"><img src="assets/img/jci3.png" width="100%"/></div>
									<div style="margin-top: 10px;">PS：建议您可以使用第三方平台账户进行登陆，可以直接省去手机号验证的环节</div>
									<div style="margin-top: 10px;">若需要手机号验证，推荐使用接码平台，实测印度尼西亚 / 马来西亚号码可用</div>
									<div style="margin-top: 10px;">温馨提醒：注册接码平台后需充值 1 美元，平台接收验证码可能会有延迟，请自行测试。接码平台：<a href="https://sms-activate.org/">https://sms-activate.org/</a></div>
									<div style="margin-top: 10px;"><img src="assets/img/jci4.png" width="100%"/></div>
									<div style="margin-top: 10px;">输入验证码后，会显示一个简单的问卷调查，随便选一个即可</div>
									<div style="margin-top: 10px;"><img src="assets/img/jci5.png" width="100%"/></div>
									<div style="margin-top: 10px;">访问 ChatGPT官网，即可与 ChatGPT 进行沟通<a href="https://chatgpt.com/">https://chatgpt.com/</a></div>
									<div style="margin-top: 10px;"><img src="assets/img/jci6.png" width="100%"/></div>
									<div style="margin-top: 10px;">此篇图片均取自网络，如有侵权请联系：<span style="color:blue">saidunyouxiang@gmail.com</span></div>
								</div>
								
								<!-- 标题 -->
								<div style="display: flex;padding-top: 20px;padding-bottom: 20px;align-items: center;" @click="changeCt(2)">
									<div style="flex: 1;">
										<div style="margin-left: 30px;"><img src="assets/img/jc2.png" style="width:20px;"/></div>
									</div>
									<div style="flex: 9;color: #343434;font-size: 20px;font-weight: bold;">Tiktok-海外抖音保姆级注册教程</div>
									<div style="flex: 1;">
										<div>
											<img :src="(mt==4 && ct==2)?'assets/img/jc4.png':'assets/img/jc3.png'" style="width: 10px;height: 10px;"/>
										</div>
									</div>
								</div>
								<!-- 描述 -->
								<div v-show="mt==4 && ct==2" style="color: #3f3f3f;margin-left: 25px;font-size: 17px;padding-bottom: 20px;padding-right: 30px;">
									<div style="margin-top: 10px;">若您不知如何访问海外抖音，请查看本篇教程，享受极致丝滑的畅刷体验</div>
									<div style="margin-top: 10px;">一、连接赛盾 VPN 选全局模式 + 国家地区线路</div>
									<div style="margin-top: 10px;">注：香港、印度、加拿大三个区域因 Tiktok 停止运营，所以连接上述三个区域依旧不能观看</div>
									<div style="margin-top: 10px;">二、设置手机</div>
									<div style="margin-top: 10px;">由于各个平台限制不同，都需要进行较为繁琐的设置，您可以在谷歌浏览器直接搜索 Tiktok 即可观看，若您希望于 App 中使用 Tiktok 可以根据以下对应平台的步骤进行设置。</div>
									<div style="margin-top: 10px;">安卓设置</div>
									<div style="margin-top: 10px;">拔出手机Sim卡（平板设备可忽略） ;</div>
									<div style="margin-top: 10px;">修改系统语言与地区（建议语言和国家一致，英国：英文；日本：日语） ;</div>
									<div style="margin-top: 10px;">更改语言： 安卓设备：手机设置→ 语言和时区→ 改成想访问内容的国家和语言 ;</div>
									<div style="margin-top: 10px;">修改系统时区（建议时区和国家一致，英国：英文；日本：日语） ;</div>
									<div style="margin-top: 10px;">更改时区： 安卓 → 设置 → 系统设置 → 日期和时间 → 时区 ;</div>
									<div style="margin-top: 10px;">关闭WLAN 和蓝牙的自动扫描功能，和系统的定位功能 ;</div>
									<div style="margin-top: 10px;">打开赛盾VPN → 变更国家地区界面 → 全局模式 + 台湾、日本、美国等区域连接 ;</div>
									<div style="margin-top: 10px;">完成以上设置后重启下设备即可</div>
									<div style="margin-top: 10px;">iOS设备</div>
									<div style="margin-top: 10px;">拔出手机 Sim 卡（ iOS 16.4 以上系统 及 平板设备 可以忽略 ） ;</div>
									<div style="margin-top: 10px;">更改系统时区： iOS 设置 → 通用 → 语言与地区 → 地区，直接选择要修改的区域即可（ 非 Tiktok 封禁的地区） ;</div>
									<div style="margin-top: 10px;">安装最新版本的 Tiktok</div>
									<div style="margin-top: 10px;">打开快连VPN → 变更国家地区界面 → 选择安全模式 + 台湾、日本、美国等区域连 ;</div>
									<div style="margin-top: 10px;">完成以上设置后，打开 TIktok 就可以正常访问了</div>
									<div style="margin-top: 10px;">若按照以上步骤操作依然无法正常访问，请发送邮件至<span style="color:blue">saidunyouxiang@gmail.com</span>，我们将有专业的服务人员来帮助您解决遇到的问题。</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
			</div>
			<div class="app" style="margin-top: 200px;">
				<div style="width: 90%;margin-left: 5%;border: 1px solid #19629F;margin-top: 50px;border-radius: 20px;">
					<div class="layui-collapse" style="border: none;">
						<div class="layui-colla-item">
							<h2 class="layui-colla-title" style="background-color: transparent;color: #4f4f4f;">赛盾VPN常见问题： 1. iOS 连接经常断开问题</h2>
							<div class="layui-colla-content " style="color: #4f4f4f;">
								<div>缘由：iOS 设备本身会存在 15M NE内存限制，连接 VPN 使用时，当上限超过 15M 后就会出现 VPN 断开连接情况。</div>
								<div style="margin-top: 10px;">解决办法：</div>
								<div>1. 建议升级 iOS 系统 到 iOS 15，这样内存限制会由 15M → 50M</div>
								<div>2.清理后台不使用的程序，若手机中有照片自动同步 or 软件商店的自动更新这些设置也关闭一下</div>
								<div>PS：iOS 15M NE内存问题是 Apple 自身限制。</div>
							</div>
						</div>
						<div class="layui-colla-item">
							<h2 class="layui-colla-title" style="background-color: transparent;color: #4f4f4f;">连接成功后还是不能使用TikTok？</h2>
							<div class="layui-colla-content " style="color: #4f4f4f;">
								<div>注：香港，印度，加拿大三个区域因Tiktok停止运营，所以连接上述三个区域依旧不能观看。</div>
								<div>海外抖音访问方式：关闭蓝牙和系统的定位功能，拔出手机Sim卡，在手机通用里面把时区换成美国，语言换成英文，然后重启手机，打开VPN选择美国和全局模式，即可访问海外抖音</div>
							</div>
						</div>
						<div class="layui-colla-item">
							<h2 class="layui-colla-title" style="background-color: transparent;color: 4f4f4f;">图片刷不出来/消息无法显示</h2>
							<div class="layui-colla-content " style="color: #4f4f4f;">
								<div>缘由：当前世界各地的 5G 网络/信号都会存在不稳定的情况，这种情况直接导致设备在短时间内多次切换网络，从而出现无法加载所需观看内容的情况，使用感极差。</div>
								<div style="margin-top: 10px;">解决办法：</div>
								<div>1. 关闭 Iphone or Ipad 的 5G 功能（使用 Wi-Fi 时无需此项设置）</div>
								<div>2.操作步骤：系统设置→蜂窝网络→蜂窝数据选项→语音与数据→4G</div>
							</div>
						</div>
						<div class="layui-colla-item">
							<h2 class="layui-colla-title" style="background-color: transparent;color: 4f4f4f;">iOS 16 系统连接提示小问题</h2>
							<div class="layui-colla-content " style="color: #4f4f4f;">
								<div>PS： iOS 16 系统自己本身各种 BUG</div>
								<div>解决办法：</div>
								<div>第一步：重启手机；</div>
								<div>第二步：手机设置→通用→传输或还原iPhone →还原→还原网络设置；</div>
								<div>PS：还原网络之后 Wi-Fi 密码需要重新输入，记得记录一下哦</div>s
							</div>
						</div>
						<div class="layui-colla-item">
							<h2 class="layui-colla-title" style="background-color: transparent;color: 4f4f4f;">哪个节点速度更快</h2>
							<div class="layui-colla-content " style="color: #4f4f4f;">每个地区的网络状况都不一样，您需要登陆什么地区的网站或者游戏，就选择对应线路（优先选择绿色的延迟较低的线路连接）</div>
						</div>
						<div class="layui-colla-item">
							<h2 class="layui-colla-title" style="background-color: transparent;color: 4f4f4f;">赛盾VPN限制流量吗？</h2>
							<div class="layui-colla-content " style="color: #4f4f4f;">赛盾VPN是没有流量限制的，但是请注意若您的设备没有联网，是无法使用任何VPN软件的。</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<script src="assets/js/index.js"></script>
		<script src="assets/js/jquery.js"></script>
		<script src="assets/js/axios.js"></script>
		<script src="assets/js/vue.js"></script>
		<script src="assets/layui/layui.js"></script>
		<script>
			layui.use('element', function(){
			  var element = layui.element;
			});
			
			new Vue({
				el: '#app',
				data: {
					selMenu:'',
					isShowMenu:false,
					isShowLanguage:false,
					isLogin: false,
					token: '',
					dMenu: 'ios',
					mt: 1,
					ct: 0,
				},
				methods: {
					changeCt(ct) {
						if (this.ct == ct) {
							this.ct = 0
						}else {
							this.ct = ct
						}
					},
					changeMt(mt) {
						this.mt = mt 
					},
					changeDownloadType(type) {
						this.dMenu = type
					},
					switchLanguage(language) {
						if (language == "en") {  //切换到英文
							window.location.href = "en/help.html"
						}else {  //切换到中文
							window.location.href = "help.html"
						}
					},
					showMenu() {
						if (this.isShowMenu){
							this.isShowMenu = false
							this.isShowLanguage = false
							this.selMenu = ''
						}else {
							this.isShowMenu = true
							this.selMenu = 'sandian'
						}
					},
					showLanguage() {
						if (this.isShowLanguage) {
							this.isShowLanguage = false
						}else {
							this.isShowLanguage =  true
						}
					},
					init: function() {
						this.isLogin = true
					},
					logout: function() {
						if (confirm("您确定要退出登录吗?")) {
							localStorage.removeItem("saidun-token")
							this.username = ""
							this.vipInfo = ""
							this.token = null
							this.isLogin = false
						}
					},
					gotoLoginPage: function() {
						window.location.href = "login.html"
					},
					gotoHelpPage: function() {
						window.location.href = "help.html"
					},
					gotoPayPage: function() {
						window.location.href = "pay.html"
					},
					gotoIndex: function() {
						window.location.href = "index.html"
					},
				},
				created: function() {
					$("#language").show()
					$("#menu0").show()
					
					this.token = localStorage.getItem("saidun-token")
					if (this.token != null) {
						this.init()
					}
				}
			})
		</script>
	</body>
</html>
