<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="screen-orientation" content="portrait">
		<meta name="x5-orientation" content="portrait">
		<meta name="renderer" content="webkit|ie-comp">
		<meta name="msapplication-tap-highlight" content="no">
		<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
		<meta name="format-detection" ,="" content="telephone=no">
		<meta name="format-detection" ,="" content="email=no">
		<meta http-equiv="Expires" content="0">
		<meta http-equiv="Pragma" content="no-cache">
		<meta http-equiv="Cache-Control" content="no-cache">
		<meta http-equiv="Cache" content="no-cache">
		<link rel="icon" href="/favicon.ico">
		<title>赛盾VPN-账号登录</title>
		<style>
			::placeholder {
			    color: #999999; /* 设置为紫色 */
				font-size: 14px;
				border-left: 100px;
			}
			
			@media(max-width:1023px) {
				.login-im0 {
					margin-left: 10%;
				}
				.login-im1 {
					width: 50%;
					margin-top: 50px;
				}
				.login-im2 {
					width: 80%;
				}
				.login-im3 {
					width: 80%;
				}
				.login-im4 {
					width: 80%;
				}
			}
			@media(min-width:1024px) {
				.login-im0 {
					margin-left: 30%;
				}
				.login-im1 {
					margin-top: 50px;
				}
				.login-im2 {
					width: 500px;
				}
				.login-im3 {
					width: 500px;
				}
				.login-im4 {
					width: 500px;
				}
			}
		</style>
	</head>
	<body style="margin: 0;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	background: url('assets/img/login-bg.png') no-repeat;background-size: 100% 100%;background-color: #EDF0F1;">
		<div id = "app">
			
			<div style="margin-top: 20px;margin-left: 20px;">
				<img onclick="gotoIndex()" src="assets/img/fanhui1.png" style="height: 30px;width: 30px;"/>
			</div>
			
			<div style="display: flex;font-size: 24px;margin-top: 60px;" class="login-im0">
				<div style="color: #6E6E6E;">欢迎您加入</div>
				<div style="color: #5087FF;">赛盾VPN！</div>
			</div>
			<div style="color: #939393;font-size: 18px;margin-top: 5px;" class="login-im0">Welcome to the Seton VPN!</div>
			
			<div style="text-align: center;"><img src="assets/img/t2.png" class="login-im1"/></div>
			
			<div style="text-align: center;margin-top: 50px;">
				<input type="text" style="background-color: transparent;border: 1px dashed #3d3d3d;height: 30px;color: black;font-size: 18px;"
				 placeholder="请输入账号" v-model="username" class="login-im2"/>
			</div>
			<div style="text-align: center;margin-top: 20px;">
				<input type="password" style="background-color: transparent;border: 1px dashed #3d3d3d;height: 30px;color: black;font-size: 18px;" 
				 placeholder="请输入登录密码" v-model="password" class="login-im2"/>
			</div>
			
			<div style="margin-top: 50px;display: flex;justify-content: center;">
				<div style="color: white;height: 40px;background-color: #0C61FF;font-size: 18px;display: flex;
				justify-content: center;align-items: center;" @click="login()" class="login-im3">
					立即登录
				</div>
			</div>
			
			<div style="display: flex;justify-content: center;">
				<div style="display: flex;margin-top: 10px;" class="login-im4">
					<div style="color: #0C61FF;font-size: 16px;flex: 1;" onclick="gotoRegister()">立即注册</div>
					<div style="color: #565656;font-size: 16px;flex: 1;text-align: right;" onclick="forgotPassword()">忘记密码?</div>
				</div>
			</div>
			
			<div style="height: 100px;"></div>
		</div>
		
		<script src="assets/js/index.js"></script>
		<script src="assets/js/axios.js"></script>
		<script src="assets/js/vue.js"></script>
		<script>
			new Vue({
				el: '#app',
				data: {
					username: '',
					password: '',
				},
				methods: {
					login() {
						if (this.username == "") {
							alert("邮箱不能为空")
							return
						}
						if (this.password == "") {
							alert("密码不能为空")
							return
						}
						var that = this
						var data = new FormData();
						data.append('username', this.username);
						data.append('password', this.password);
						axios({
							method: 'post',
							url: serverIp + '/vpn/gw_login',
							data: data
						}).then(function(response) {
							if (response.data.code == 200) {
								alert("登录成功")
								localStorage.setItem("saidun-token",response.data.result)
								window.location.href = "index.html"
							} else if (response.data.code == 401) {
								alert("登录信息已过期,请重新登录")
							}  else {
								alert(response.data.remark)
							}
						})
					}
				},
				created: function() {
					
				}
			})
		</script>
	</body>
</html>
