#ls--toast-wrapper[data-v-068ba53f] {
    position: fixed;
    top: .16103rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 999999999
}

#ls--toast-wrapper.ps-top[data-v-068ba53f] {
    top: 10%
}

#ls--toast-wrapper.ps-middle[data-v-068ba53f] {
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%)
}

#ls--toast-wrapper.ps-bottom[data-v-068ba53f] {
    top: auto;
    bottom: 10%
}

#ls--toast-wrapper.center[data-v-068ba53f] {
    text-align: center
}

#ls--toast-wrapper .toast-content[data-v-068ba53f] {
    border-radius: .06441rem;
    min-width: 5.7971rem;
    line-height: 1.8
}

#ls--toast-wrapper .toast-success[data-v-068ba53f] {
    background-color: #f0f9eb;
    color: #67c23a;
    border: .00805rem solid #e1f3d8
}

#ls--toast-wrapper .toast-default[data-v-068ba53f] {
    background: rgba(0,0,0,.7);
    color: #fff;
    border: none
}

#ls--toast-wrapper .toast-info[data-v-068ba53f] {
    background-color: #edf2fc;
    color: #333;
    border: .00805rem solid #ebeef5
}

#ls--toast-wrapper .toast-warning[data-v-068ba53f] {
    background-color: #fdf6ec;
    color: #e6a23c;
    border: .00805rem solid #faecd8
}

#ls--toast-wrapper .toast-error[data-v-068ba53f] {
    background-color: #fef0f0;
    color: #f56c6c;
    border: .00805rem solid #fde2e2
}

#ls--toast-wrapper .toast-size-default[data-v-068ba53f] {
    padding: .19324rem .56361rem;
    font-size: .25765rem
}

#ls--toast-wrapper .toast-size-small[data-v-068ba53f] {
    padding: .16103rem .48309rem;
    font-size: .19324rem
}

#ls--toast-wrapper .toast-size-big[data-v-068ba53f] {
    padding: .22544rem .64412rem;
    font-size: .28986rem
}

#ls--toast-wrapper.m .toast-content[data-v-068ba53f] {
    border-radius: .09662rem;
    min-width: 7.72947rem
}

#ls--toast-wrapper.m .toast-size-default[data-v-068ba53f] {
    padding: .28986rem .84541rem;
    font-size: .38647rem
}

#ls--toast-wrapper.m .toast-size-small[data-v-068ba53f] {
    padding: .24155rem .72464rem;
    font-size: .28986rem
}

#ls--toast-wrapper.m .toast-size-big[data-v-068ba53f] {
    padding: .33816rem .96618rem;
    font-size: .43478rem
}

.approach-container[data-v-248af4bf] {
    background: #fff;
	padding-top: 1.44928rem;
}

.approach-container .suspended[data-v-248af4bf] {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    background: #fff9c7;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    font-size: .33816rem;
    padding: .24155rem .36232rem;
    font-weight: 500
}

.approach-container .suspended img[data-v-248af4bf] {
    width: .48309rem;
    height: .48309rem;
    margin-right: .08052rem;
    display: inline-block;
    font-size: 0;
    vertical-align: middle
}

.approach-container .suspended span[data-v-248af4bf] {
    display: inline-block;
    vertical-align: middle
}

.approach-container .suspended strong[data-v-248af4bf] {
    color: red
}

.approach-container .suspended a[data-v-248af4bf],.approach-container .suspended a[data-v-248af4bf]:active,.approach-container .suspended a[data-v-248af4bf]:hover,.approach-container .suspended a[data-v-248af4bf]:visited {
    text-decoration: underline!important;
    color: #1c83ed
}

.approach-container header[data-v-248af4bf] {
    padding: .32206rem .19324rem;
    text-align: left;
    border-bottom: .02415rem solid #eee
}

.approach-container header .logo[data-v-248af4bf] {
    width: .96618rem;
    height: .96618rem;
    vertical-align: middle;
    display: inline-block
	
}

.approach-container header .logo img[data-v-248af4bf] {
    width: 100%;
    height: 100%
}

.approach-container header h2[data-v-248af4bf] {
    font-size: .57971rem;
    color: #000;
    font-weight: 500;
    line-height: 1;
    vertical-align: middle;
    display: inline-block;
    margin-left: .08052rem
}

.approach-container .main[data-v-248af4bf] {
    padding: 0;
    text-align: left
}

.approach-container .main .nav-tip[data-v-248af4bf] {
    background: #f2f2f2;
    color: #333;
    font-weight: 500;
    font-size: .38647rem;
    padding: .38647rem .48309rem;
    border-top: .02415rem solid #ccc;
    border-bottom: .02415rem solid #ccc
}

.approach-container .main .nav-tip p[data-v-248af4bf] {
    line-height: 1.6;
    margin: .12077rem 0
}

.approach-container .main .warning-text[data-v-248af4bf] {
    color: #ff4e4e;
    font-weight: 700
}

.approach-container .main .step-container[data-v-248af4bf] {
    padding: 0 .48309rem;
    margin-top: .48309rem;
    margin-bottom: .96618rem
}

.approach-container .main .istep-item[data-v-248af4bf] {
    margin-top: .96618rem;
    display: block
}

.approach-container .main .istep-item .step-title[data-v-248af4bf] {
    background: #333;
    font-size: .43478rem;
    color: #fff;
    border-radius: .48309rem;
    min-width: 2.89855rem;
    height: .88567rem;
    line-height: .88567rem;
    display: inline-block;
    text-align: center;
    padding: 0 .48309rem
}

.approach-container .main .istep-item .step-title.notice[data-v-248af4bf] {
    background: #d21f00
}

.approach-container .main .istep-item li[data-v-248af4bf],.approach-container .main .istep-item p[data-v-248af4bf] {
    font-size: .38647rem;
    color: #333;
    margin-top: .48309rem;
    line-height: 1.8
}

.approach-container .main .istep-item li a[data-v-248af4bf],.approach-container .main .istep-item li strong[data-v-248af4bf],.approach-container .main .istep-item p a[data-v-248af4bf],.approach-container .main .istep-item p strong[data-v-248af4bf] {
    color: #1c83ed
}

.approach-container .main .istep-item ul[data-v-248af4bf] {
    margin-top: .48309rem
}

.approach-container .main .istep-item li[data-v-248af4bf] {
    list-style-type: disc;
    margin-left: .48309rem;
    margin-top: 0
}

.approach-container .main .istep-item .step-img-container[data-v-248af4bf] {
    margin-top: .48309rem;
    width: 100%
}

.approach-container .main .istep-item .step-img-container img[data-v-248af4bf] {
    width: 60%;
    display: block;
    font-size: 0;
    margin: .24155rem 0
}

.approach-container .main .istep-item .inline-img[data-v-248af4bf] {
    width: .57971rem;
    display: inline-block;
    vertical-align: middle
}

.approach-container .main .btm-tip[data-v-248af4bf] {
    font-size: .33816rem;
    color: #000;
    margin-bottom: .48309rem;
    margin-top: .48309rem
}

.approach-container .main .btm-tip strong[data-v-248af4bf] {
    color: #1c83ed
}

.approach-container .main .ls-btn[data-v-248af4bf] {
    display: inline-block;
    padding: .19324rem .48309rem;
    margin-top: .48309rem;
 	background-color: #35557e;
    color: #fff;
    font-size: .38647rem;
    border-radius: .44283rem
}

.approach-container .main .item-tips[data-v-248af4bf] {
    font-size: .36232rem;
    color: red;
    margin-top: .48309rem;
    line-height: 1.8;
    background: #fff2f2;
    display: block;
    padding: .17713rem .24155rem;
    text-align: left;
    border-radius: .08052rem
}

.approach-container .main .item-tips img[data-v-248af4bf] {
    width: .48309rem;
    display: inline-block;
    vertical-align: middle;
    margin-right: .24155rem
}

.approach-container .main .item-tips span[data-v-248af4bf] {
    vertical-align: middle
}

.approach-container .main .ioscopybtn[data-v-248af4bf] {
    width: 90%;
    border: .02415rem solid #ccc;
    border-radius: .12077rem;
    font-size: .43478rem;
    padding: .24155rem;
    margin: .24155rem 0;
    position: relative
}

.approach-container .main .ioscopybtn p[data-v-248af4bf] {
    font-size: .36232rem;
    color: #666;
    margin-top: 0;
    line-height: 1;
    margin-bottom: .24155rem
}

.approach-container .main .ioscopybtn span[data-v-248af4bf] {
    font-size: .36232rem;
    color: #333
}

.approach-container .main .ioscopybtn button[data-v-248af4bf] {
    width: .57971rem;
    height: .57971rem;
    background: url("../img/approach3/copy.svg");
    border: none;
    outline: none;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    right: .24155rem
}

.approach-container .footer[data-v-248af4bf] {
    padding: 0 .48309rem .96618rem;
    margin-top: .48309rem
}

.approach-container .footer p[data-v-248af4bf] {
    font-size: .38647rem;
    color: #333;
    margin-top: .48309rem;
    line-height: 1.8
}

.approach-container .footer p a[data-v-248af4bf],.approach-container .footer p strong[data-v-248af4bf] {
    color: #1c83ed
}

.approach-container .footer .tips[data-v-248af4bf] {
    font-style: italic;
    line-height: 1.8;
    font-size: .38647rem;
    color: #666
}

.approach-container .footer .is_helpful[data-v-248af4bf] {
    margin-top: .96618rem;
    font-size: .38647rem;
    color: #333
}

.approach-container .footer .is_helpful button[data-v-248af4bf] {
    width: 1.44928rem;
    height: .67633rem;
    line-height: .67633rem;
    font-size: .38647rem;
    margin: 0 .24155rem;
    border: .02415rem solid #1c83ed;
    color: #1c83ed;
    border-radius: .24155rem;
    background: transparent;
    cursor: pointer
}
